---
import {Icon} from 'astro-icon/components'
import {Image} from 'astro:assets'
import NavLink from '~components/Buttons/NavLink.astro'
import PostHog from '~components/PostHog.astro'
import {eventMainLinks} from '~constants/navigation'
import bgLeft from '~icons/bg-left.svg'
import bgRight from '~icons/bg-right.svg'
import Head from '~layouts/Head.astro'
import '~styles/base.css'

export interface Props {
  class?: string
  title?: string
  description?: string
  showFooter?: boolean
}

const {class: mainClasses, title = 'Hajnalig', description = 'Hajnalig'} = Astro.props
---

<!doctype html>
<html lang='hu' class='scroll-smooth'>
  <head>
    <Head title={title} description={description} />
    <PostHog />
  </head>
  <body
    class='m-0 flex min-h-screen bg-[#FFF0E8] text-darkest flex-col font-sans selection:bg-primary-dark selection:text-primary-light scrollbar-hide'
  >
    <nav class='navbar fixed h-16 justify-between p-4 backdrop-blur z-10'>
      <a
        href='/events/hajnalig'
        aria-label='homepage link'
        class='hover:text-primary-dark text-darkest transition-colors duration-1000'
      >
        <Icon name='logo-gradient' class='w-48' />
      </a>
      <ul class='menu menu-horizontal hidden sm:block'>
        {
          eventMainLinks.map((link) => (
            <NavLink
              {...link}
              selected={Astro.url.pathname === link.href}
              class='menu-title'
              hideIcon
              size={link.button ? 'md' : 'sm'}
              dark={link.button}
              class:list={[
                !link.button &&
                  'text-darkest hover:bg-gray/80 hover:text-primary-light h-10 leading-[22px]',
              ]}
            />
          ))
        }
      </ul>
    </nav>
    <main
      class='flex flex-1 px-4 flex-col items-center justify-center max-w-3xl mx-auto w-full pt-16'
      class:list={[mainClasses]}
    >
      <slot />
    </main>
    <Image
      src={bgRight}
      class='fixed top-0 -right-12 md:right-0 overflow-clip min-h-screen h-full opacity-50 md:opacity-100 pointer-events-none'
      alt='background'
    />
    <Image
      src={bgLeft}
      class='fixed top-0 -left-12 md:left-0 overflow-clip min-h-screen h-full opacity-50 md:opacity-100 pointer-events-none'
      alt='background'
    />
  </body>
</html>
