---
import type {HTMLAttributes} from 'astro/types'
import type {ZodIssue} from 'zod'

interface Props extends HTMLAttributes<'input'> {
  error?: ZodIssue
  name: string
  title?: string
}

const {error, title, name, ...props} = Astro.props
const id = `input-${name}`
---

<label for={id} class='text-start capitalize text-base font-medium flex flex-col gap-2 pb-2.5'>
  <div>{title ?? name}{props.required ? ' *' : ''}</div>
  <input
    {...props}
    name={name}
    id={id}
    class='w-full bg-transparent py-3 px-4.5 border placeholder:text-gray-dark placeholder:capitalize rounded-xl'
    class:list={[error ? 'border-red' : 'border-gray']}
    placeholder={`Enter ${title ?? name}`}
  />
  <p class='text-xs text-red'>{error?.message ?? <>&nbsp;</>}</p>
</label>
